* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
.palet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  overflow: hidden;
}
.block,.stopedblock{
  height: 100%;
  color: #827f54;
  transition: .2s;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.palet #b1 {
  background-color: brown;
}
.palet #b2 {
  background-color: rgb(224, 171, 171);
}
.palet #b3 {
  background-color: rgb(65, 55, 55);
}
.palet #b4 {
  background-color: rgb(52, 165, 42);
}
.box,.stoped_showbox{
  font-size: 25px;
  color: rgb(204, 204, 204);
  background-color: rgb(46, 46, 46);
  padding: .5rem;
  border-radius: 8px;
  font-family:Helvetica, sans-serif;
  transition: .5s;
  cursor: pointer;
}
.stoped_showbox{
  background-color: rgb(241, 241, 241);
  color: rgb(66, 66, 66);
}
.box:hover,.stoped_showbox:hover{
  transform: scale(1.3,1.3);
  color: white;
  background-color: rgb(29, 29, 29);
  /* box-shadow: 0 0 30px black; */
}
.stoped_showbox:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
#logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  z-index: 10;
  animation-name: logo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function:ease-in-out;
}
@keyframes logo{
  0%{left: 0%;}
  50%{left: 0%;}
  100%{left: 100%;}
}
#logo p{
  font-family:Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(44, 44, 44);
  text-shadow: 0 0 2px rgb(56, 56, 56);
}



